/* TODO: font file import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  background-color: #fff;
  color: #000;
}

@theme {
  /* FONT FAMILY */
  --font-sans: "Roboto", sans-serif;

  /* TEXT SIZES */
  --text-s12-l16: 12px;
  --text-s12-l16--line-height: 16px;

  --text-s14-l20: 14px;
  --text-s14-l20--line-height: 20px;

  --text-s48-l56: 48px;
  --text-s48-l56--line-height: 56px;

  --color-orange: #f27a1a;
}
